.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.625rem 1.25rem;
  height: 5.625rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.875rem;
  margin-right: -12rem
}

.title {
  font-size: 1.125rem;
}

.title-bold {
  font-weight: bold;
  color: black;
}

.title-transparent {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-center {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: rgba(43, 89, 229, 255);
}

.nav-link {
  margin: 0 0.625rem;
  text-decoration: none;
  color: rgba(43, 89, 229, 255);
  font-weight: bold;
}

.divider {
  margin-right: -0.625rem;
  margin-left: 0.3125rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}