@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600&display=swap');

section{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.open-positions-container{
  font-family: Montserrat;
  width: 907px;
  height: 460px;
  background-color: #E7EBF9;
  padding:20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  color:rgba(10, 57, 197, 1);
}

.job-container{
  width: 805px;
  height: 103px;
  background-color: #F5F5FF;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

p{
  margin-bottom: 0rem;
}

.company-part{
  margin-right: 50px;
}
.company-name{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  width: 240px;
}

.job-description{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.description{
  font-size: 12px;
  font-weight: 600;
  padding:0;
  margin-bottom:5px;
}

.company-description{
  font-size: 10px;
  font-weight: 400;
  line-height: 12.5px;
}

.apply-btn{
  color: white;
  font-size: 10px;
  font-weight: 700;
  background-color: rgba(41, 88, 229, 1);;
  padding: 10px 15px;
  border-radius: 5px;
  border:none;
  display: inline-block;
}
.fa-angle-right{
  margin-left: 5px;
}